@import "../../style/variables.scss";
@import "../../style/mixin.scss";


.accordion {

    &__container {
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: $g-4;

    }

    &__item {
        @include fontType($fs-4, $medium-font-weight, $lh-6, $text-primary-color);
    }

}

.details {
    outline: none;

}

.summary {
    width: 100%;
    padding: $g-6;
    display: flex;
    flex-direction: column;


    gap: $g-4;
    background-color: $white;
    border-radius: $br-2;
    outline: none;
    list-style: none;
    cursor: pointer;

    &__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between

    }

    @include fontType($fz-6, $medium-font-weight, $lh-8, $text-primary-color);

    &__caption {
        @include fontType($fs-8, $medium-font-weight, $lh-8, $text-primary-color);

        pointer-events: none;
    }
}

.icon__wrapper {
    pointer-events: none;
    &__reversed {
        &>* {
            transform: rotate(180deg);
        }
    }
}