@import "../../style/variables.scss";
@import "../../style/mixin.scss";


.controller {
  display: flex;
  align-items: flex-start;
  gap: $g-2;

  &__container {
    display: flex;
    gap: $g-4;
    align-items: center;
  }
}

.count {
  cursor: default;
  @include fontType($fs-5, $fw_m, $lh-5, $c-tp);
}

.icon {
  &__wrapper {
    cursor: pointer;
    &:hover {
      &>svg path{
        fill:black ;
      }
     
    }
  }
}

.warning {
  margin: 20% auto;
  width: 334px;
  display: flex;
  flex-direction: column;
  gap:$g-4;
  background-color: $white;
  border-radius: $br-2;
  padding: $p-6;

   &__container {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.50);
    position: absolute;
  }

  &__caption {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

  }

  &__text {
    padding-bottom: $p-2;
  }

  &__control {
    display: flex;
    gap: $g-2;
  }

  &__icon {
    cursor: pointer;
  }
}