@import "../../../style/variables.scss";
@import "../../../style/mixin.scss";

.movie {
  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__card {
    display: flex;
    width: 100%;
    gap: $g8;
    padding: $common-padding;
    background-color: $white;
    border-radius: $medium-border-radius;

  }
}

.card {

  &__text {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: $g6;
  }

  &__caption {
    display: flex;
    justify-content: space-between;
    @include fontType($big-font-size, $bold-font-weight, $medium-line-height, $text-primary-color);

  }

}

.table {
  display: flex;
  flex-direction: column;
  gap: $small-gap;

  &__row {
    display: flex;
    gap: $xs-gap;
    text-transform: capitalize;
    @include fontType($regular-font-size, $medium-font-weight, $regular-line-height, $text-primary-color);

    &> :first-child {
      display: block;
      @include fontType($regular-font-size, $bold-font-weight, $regular-line-height, $text-primary-color);

    }
  }


}

.image {
  border-radius: $medium-border-radius;
}

.card__items__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;

}


.card__controller {
  display: flex;

}

.review {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 24px;
  padding: 24px;
  gap: 24px;

  &__image {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $image-gray;
    border-radius: $medium-border-radius;
  }

  &__text {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;

  }

  &__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

}

.description {

  display: flex;
  flex-direction: column;
  gap: 16px;

  &__title {
    text-transform: capitalize;
    @include fontType($regular-font-size, $bold-font-weight, $regular-line-height, $text-primary-color);
  }

  &__text {
    @include fontType($small-font-size, $medium-font-weight, $regular-line-height, $text-primary-color);
  }
}