@import "../../style/variables.scss";
@import "../../style/mixin.scss";


.controller {
    display: flex;
    align-items: flex-start;
    gap: 8px;

    &__container {
        display: flex;
        gap: 24px;
    }
}

.count{
    cursor: default;

}
.icon {
    &__wrapper {
        cursor: pointer;
    }
}