@import "../style/variables.scss";
@import "../style/mixin.scss";


.container {
  width: 1920px;
  height: 100%;
  background-color: $light-gray;
  margin: 0 auto;
  overflow-x: hidden;
  overflow-y: auto;

}




.header {
  grid-area: header;
  display: flex;
  top: 0;
  position: sticky;
  height: 84px;
  background-color: $gray;
  padding: $p-4 $p-8;
  @include fontType($fs-8, $fw_b, $lh-6, $white);

}

.counter {
  display: flex;
  width: 28px;
  height: 28px;
  padding: $p-1;
  justify-content: center;
  align-items: center;
  gap: $g-2p;
  background-color: $orange;
  border-radius: $br-2;
  @include fontType($fs-4, $fw_m, $lh-5, $white);


  &__wrapper {
    display: flex;
    gap: $g-2;
    justify-content: center;
    align-items: center;
  }

}

.nav__wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer {
  grid-area: footer;
  /*  display: flex; */
  height: 86px;
  background-color: $gray;
  padding: $p-4 $p-8;
  @include fontType($fs-5, $fw_r, $lh-6, $white)
}

.main {
  display: flex;
  grid-template-columns: repeat(2, 1fr);
  background-color: $light-gray;
  padding: $p-4 $p-8;
  gap: $g-6;
  justify-self: start;
  align-self: start;
  min-height: calc(100vh - 98px - 72px);
  /*     height: 100%; */
}

.movie {
  width: 1424px;
  display: flex;
  flex-direction: column;
  gap: $g-4;
}

.icon__wrapper {
  &:hover {
    &>svg path{
      fill: $orange !important;
    }
   
  }

}