@import "../style/variables.scss";
@import "../style/mixin.scss";


.container {
    width: 1920px;
    /*  height: 100vh; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    //для центрирования
    margin: 0 auto;
    overflow-x: hidden;
    overflow-y: auto;

}

//TODO: вынести общее header,footer
//TODO: добавить cursor pointer
//TODO: общий border-radius
.header {
    display: flex;
    height: 84px;
    background-color: $gray;
    padding: 24px 32px;
    @include fontType($big-font-size, $bold-font-weight, $big-line-height, $white)
}

.nav__wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer {
    display: flex;
    height: 86px;
    background-color: $gray;
    padding: 24px 32px;
    @include fontType($regular-font-size, $regular-font-weight, $regular-line-height, $white)
}

.main {
    height: 100vh;
    background-color: $light-gray;

    overflow-x: hidden;
    overflow-y: hidden;

}

.main__wrapper {
    display: flex;
    width: 100%;
}

.movie__list{

    overflow-x: hidden;
    overflow-y: auto;
    max-height: 90vh;


    ::-webkit-scrollbar {
        width: 8px;
        position: fixed;
        border-radius: 4px;
        position: fixed;
    }

    ::-webkit-scrollbar-track {
        border-radius: 3px;
        background: rgb(186, 183, 183);
        border: 3px solid transparent;
        background-clip: content-box;
        /* THIS IS IMPORTANT */
    }

    ::-webkit-scrollbar-thumb {
        background-color: #77abdf;
        border-radius: 4px;
    }
    
}