//TODO: константа для марджин паддинг 24px

$background-color: #27272A;
$white: #FFFFFF;

$gray: #333333;
$light-gray: #F5F5F5;

$orange: #E94E00;
$orange-disabled: #FFA375;


$bold-font-weight:700;
$medium-font-weight:500;
$regular-font-weight:400;
$light-font-weight:400;

$big-font-size:32px;
$regular-font-size:20px;
$small-font-size:16px;
$extra-small-font-size:14px;

$big-line-height:37,5px;
$regular-line-height:23,44px;


$common-padding:24px;
$common-border-radius:4px;





 

// 20px
// 14px