//TODO: константа для марджин паддинг 24px

$background-color: #27272A;
$white: #FFFFFF;

$text-primary-color:#1B1F23;

$gray: #333333;
$medium-gray: #E1E3E6;
$light-gray: #F5F5F5;

$orange: #FF5500;
$orange-disabled: #FFA375;


$bold-font-weight:700;
$medium-font-weight:500;
$regular-font-weight:400;
$light-font-weight:400;

$step:4px;

$big-font-size:$step*8;
$regular-font-size:$step*5;
$fz-6:$step*6;
$small-font-size:$step*4;
$extra-small-font-size:$step*4-2;

$big-line-height:37.5px;
$medium-line-height:$step*8;
$regular-line-height:$step*6;
$small-line-height:$step*5;


//вынести  medium step???
$big-padding:$step*8;
$common-padding:$step*6;
$medium-padding:$step*4;
$p3:$step*3;
$thin-padding:$step*2.5;
$xs-padding:$step*2;

$medium-border-radius:$step*2;
$thin-border-radius:$step;

$common-gap:$step*5;
$small-gap:$step*4;
$xs-gap:$step*2;
$thin-gap:$step;





 

// 20px
// 14px