//TODO: константа для марджин паддинг 24px

$background-color: #27272A;
$white: #FFFFFF;

//color: text-primary
$c-tp:#1B1F23;

$gray: #333333;
$image-gray: #E0E0E0;
$medium-gray: #E1E3E6;
$light-gray: #F5F5F5;

$orange: #FF5500;
$orange-disabled: #FFA375;

//font-weight
$fw_b:700;
$fw_m:500;
$fw_r:400;
$fw_l:400;

$step:4px;

//font-size
$fs-8:$step*8;
$fz-6:$step*6;
$fs-5:$step*5;
$fs-4:$step*4;
$fs-3:$step*4-2;

//line-height
$lh-8:$step*8;
$lh-6:$step*6;
$lh-5:$step*5;

//padding
$p-8:$step*8;
$p-6:$step*6;
$p-4:$step*4;
$p3:$step*3;
$p-2p:$step*2+2;
$p-2:$step*2;
$p-1:$step;

//margin
$m-4:$step*4;



//border-radius
$br-2:$step*2;
$br-1:$step*1;

//gap
$g-8:$step*8;
$g-6:$step*6;
$g-5:$step*5;
$g-4:$step*4;
$g-2p:$step*2+2;
$g-2:$step*2;
$g-1:$step;


