@import "../../style/variables.scss";
@import "../../style/variables.scss";



.filter__wrapper{
    background-color: $white;
    border-radius: $common-border-radius;
    padding:$common-padding;

}