@import "../../style/variables.scss";
@import "../../style/mixin.scss";

.card {
  &__items__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__controller {
    display: flex;
  }

  &__container {
    width: 100%;
    height: 168px;
    display: flex;
    justify-content: space-between;
    background-color: $white;
    border-radius: $br-2;

    &>* {
      box-sizing: border-box;
      margin: 24px;
    }

    >div {
      align-items: flex-start;
    }

    &:hover {
      background-color: $white-hover;
    }


  }

  &__wrapper {
    display: flex;
    flex-direction: row;
    gap: $g-4;
    flex-grow: 1;
    cursor: pointer;
  }

  &__text {
    text-transform: capitalize;
    gap: $g-2p;
  }

  &__header {
    @include fontType($fs-5, $fw_b, $lh-5, $c-tp);
  }

  &__genre {
    @include fontType($fs-4, $fw_r, $lh-5, $c-tp, italic);
  }
}


.image {
  border-radius: $br-2;
}