@import "../../style/variables.scss";
@import "../../style/mixin.scss";

.card {
  &__items__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__controller {
    display: flex;
  }

  &__container {
    width: 1424px;
    height: 168px;
    display: flex;
    justify-content: space-between;
    background-color: $white;
    border-radius: 8px;

    &>* {
      box-sizing: border-box;
      margin: 24px;
    }

    > div {
      align-items: flex-start;
    }

    /*  padding: 24px; */
  }

  &__wrapper {
    display: flex;
    flex-direction: row;
    gap: 24px;
    flex-grow: 1;
    cursor: pointer;
  }

  &__text {
    text-transform: capitalize;
    gap: $xs-gap;
  }

  &__header {
    @include fontType($regular-font-size, $bold-font-weight, $small-line-height, $text-primary-color);
  }

  &__genre {
    @include fontType($small-font-size, $regular-font-weight, $small-line-height, $text-primary-color, italic);
  }
}


.image {
  border-radius: $medium-border-radius;
}