@import "../../style/variables.scss";
@import "../../style/variables.scss";

.card__wrapper {
    width: 1424px;
    height: 168px;
    display: flex;
    flex-direction: row;
    gap: 24px;
    background-color: $white;
    border-radius: 8px;
    padding: 24px;

    &__controller {
        display: flex;
    }

    &__items__wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

}

.image {
    border-radius: 8px;

}